* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 900px;
  min-width: 300px;
  background-color: rgb(0, 0, 0);
}

/* START HEAD */
.header {
  min-height: 50px;
  min-width: 300px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 35px rgb(255, 0, 225, 0.5);
}
.head__title {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(255, 0, 255);
  padding-top: 5px;
}
/* END HEAD */

/* START MAIN */
.main {
  min-height: 400px;
  min-width: 300px;
  margin-bottom: 20px;
  border: 2px dashed rgb(255, 255, 255);
  transition: 0.3s;
}
.main:hover {
  border: 2px dashed rgb(255, 0, 225);
}
.main__brd_styel {
  border-color: rgb(0, 0, 0);
}
.main__list {
  list-style-type: none;
}
.list__item {
  margin: 10px;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
/* END MAIN */

/* START FOOT */
.footer {
  min-height: 50px;
  min-width: 300px;
}
.inp__text {
  display: block;
  width: 200px;
  margin: 5px auto;
}
.btn__text {
  display: block;
  margin: 15px auto;
  height: 30px;
  width: 100px;
  transition: 0.3s;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255);
}
.btn__text:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 0, 225);
}
/* END FOOT */
